[submodule "ext/udacity/FCND-Backyard-Flyer"]
	path = ext/udacity/FCND-Backyard-Flyer
	url = https://github.com/udacity/FCND-Backyard-Flyer.git
[submodule "ext/udacity/FCND-Simulator-Release"]
	path = ext/udacity/FCND-Simulator-Release
	url = https://github.com/udacity/FCND-Simulator-Releases.git
[submodule "ext/udacity/FCND-Terms1-Starter-Kit"]
	path = ext/udacity/FCND-Terms1-Starter-Kit
	url = https://github.com/udacity/FCND-Term1-Starter-Kit.git
[submodule "ext/udacity/udacidrone"]
	path = ext/udacity/udacidrone
	url = https://github.com/udacity/udacidrone.git
[submodule "ext/udacity/FCND-Motion-Planning"]
	path = ext/udacity/FCND-Motion-Planning
	url = git@github.com:udacity/FCND-Motion-Planning.git
